.footer {
  background: #0d0d0d;
  color: #e3e3e3;
  padding: 50px 20px 20px;
  font-family: Arial, sans-serif;
  margin-top: 40px;
}

.footer-container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
}

.footer-section {
  width: 18%;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-logo {
  color: #ff3333;
  font-size: 28px;
  margin-bottom: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
  color: #ff3333;
  font-weight: 600;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  display:list-item;
}

.footer-section ul li {
  margin: 6px 0;
  cursor: pointer;
  transition: 0.3s;
}

.footer-section ul li:hover {
  color: #ff3333;
}

.social-icons span {
  font-size: 26px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons span:hover {
  color: #ff3333;
}

.footer-bottom {
  margin-top: 40px;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #333;
  font-size: 14px;
  opacity: 0.7;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-section {
    width: 100%;
  }
}
