/* nav.css */

nav {
  background-color: #4ca3a4;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.logo{
 height: 100px;
}

/* Left section */
.left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.left .links li a{
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 

/* All links */
ul {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: #facc15; /* gold/yellow hover */
}

/*searc barh*/
.search input {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  width: 600px;
  height: 45px;
}

nav .search input::placeholder {
  color: #999;
}
/* Right section */
.nav-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.links-right li a{
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.links-right li {
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.links-right li a:hover {
  color: #facc15; /* gold/yellow hover */
}



.nav-right li a.goldpass {
  font-weight: 600;
  color: #ffd700;
}
