.receipt-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 25px;
  background: #111;
  color: white;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.8);
}

.receipt-container h1 {
  color: #ff4747;
  margin-bottom: 20px;
}

.receipt-box {
  background: #1b1b1b;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
  line-height: 1.6;
  font-size: 18px;
}

.home-btn {
  padding: 12px 20px;
  background: #ff4747;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.home-btn:hover {
  background: #ff2f2f;
}
