/* Main container */
.signup-container {
  width: 350px;
  margin-left: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

.signup-container .left {
  display: flex;
  flex-direction: column;
  margin-left: 40px;

}

/* Title */
.signup-title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Form */
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Labels (header above inputs) */
.signup-form label {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: -5px;
}

/* Inputs */
.signup-form input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f0f0f0;
  font-size: 14px;
}

/* Placeholder styling */
.signup-form input::placeholder {
  color: gray;
}

/* Button */
.signup-form button {
  margin-top: 10px;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.signup-form button:hover {
  opacity: 0.9;
}
