/* body {
  margin: 0;
  padding: 0;
  background-image: url("https://pngtree.com/freebackground/amc-movie-ticket_16156790.html");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
} */

#root {
  min-height: 100vh;
  background-image: url("https://i.pinimg.com/1200x/3e/ff/fc/3efffc4db594b1e93e9e51872b6cd22a.jpg");
  background-size: cover;
  background-position: center;
}
